body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/bkgdHigh.jpg);
}

#logo {
    height: 56px;
}

/* Mobile 's' */
@media only screen and (max-width: 601px) {
    .card-logo {
        left: 5%;
    }
}

/* Tablet mode 'm' */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .card-logo {
        left: 3%;
    }
}

/* Desktop mode 'l' */
@media only screen and (min-width: 992px) {
    .card-logo {
        left: 2%;
    }
}

.language-select {
    position: relative;
    top: -6px;
}

#langugage-button-flag {
    position: relative;
    top: 6px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-logo {
    position: absolute;
    top: -30px;
}

.top-padding {
    padding-top: 5rem;
}

.custom-border {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

a {
    color: #64b5f6;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #fff;
}
